@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap');

:root {
    --color-bg: white;
    --color-fg: black;
    --color-highlight: #cc0000;

    --font-display: "Instrument Serif", serif;
    --font-body: "Instrument Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    background-color: var(--color-bg);
    color: var(--color-fg);
}

html {
    height: 100%;
    width: 100%;

    background-color: var(--color-highlight);
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100%;
    min-width: 100%;

    margin-top: 50px;
    padding-left: 25%;
    padding-right: 25%;

    font-size: 16pt;

    @media (max-width: 768px) {
        margin-top: 10px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

header {
    margin-top: -48px;

    /* @media (max-width: 768px) {
        margin-top: 25px;
    } */
}

h1 {
    margin: 0;
    padding: 0;

    font-family: var(--font-display);
    font-size: 8rem;
    font-style: italic;
    font-weight: 400;

    color: var(--color-highlight);

    @media (max-width: 768px) {
        font-size: 4rem;
        margin-top: 25px;
    }
}

main {
    display: flex;
    flex-direction: column;

    margin-top: 4rem;

    font-family: var(--font-display);
    font-weight: 400;
    font-size: 3rem;

    line-height: 3.25rem;

    @media (max-width: 768px) {
        margin-top: 2rem;
        font-size: 2rem;
        line-height: 2.25rem;
    }

    p {
        margin: 0;
        padding: 0;

        margin-bottom: 2rem;

        @media (max-width: 768px) {
            margin-bottom: 1rem;
        }
    }

    strong {
        color: var(--color-highlight);
        font-weight: 400;
    }
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;

    border-radius: 0.25rem;

    background-color: var(--color-red-100);
    color: var(--color-red-700);
}

.button {
    display: flex;
    align-items: center;

    width: fit-content;

    text-decoration: none;

    font-size: 1.25rem;
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--color-fg);

    border: 2px solid var(--color-fg);
    border-radius: 2rem;
    background-color: var(--color-bg);

    margin-top: 1rem;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    svg {
        width: 1.1rem;
        height: 1.1rem;

        margin-right: 0.5rem;
    }
}
